//$first-color: rgb(196, 31, 26);
//$second-color: rgb(70, 194, 203);
//основная
$first-color: rgb(207, 47, 90);
$second-color: rgb(59, 93, 255);
$first-color-dark: rgba($first-color, 0.23);
$second-color-dark: rgba($second-color, 0.23);
$thirst-color: #337ab7; //блоки с проектами
$four-color: #bfe2ff; //блоки с проектами
$five-color: rgb(255, 255, 255); //бэкграунд
$six-color: rgb(235, 235, 235); //блоки в шапке
$text-color: #000000;
$text-color-second: #4b4b4b;