.bot-8 {
  margin-bottom: 8%;
}

.bot-15 {
  margin-bottom: 15%;
}

.mar-top-35 {
  margin-top: 35%;
}

.top-15 {
  margin-top: 15%;
}

.top-8 {
  margin-top: 8%;
}

.stylechanger {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 12000;
}
.stylechanger select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.stylechanger select::-ms-expand {
  display: none;
}
.stylechanger select:hover,
.stylechanger select:focus {
  color: #000;
  background: #ccc;
}
.stylechanger select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.stylechanger select:hover ~ .select__arrow,
.stylechanger select:focus ~ .select__arrow {
  border-top-color: #000;
}
.stylechanger select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}