/*услуги*/
.mar-top {
  margin-top: 8%;
}

.text-center {
  text-align: center;
}

span {
  color: #f20c53;
  font-weight: bold;
}

.odd {
  color: #f20c53;
  font-weight: bold;
  font-size: 2.5rem;
}

.even {
  color: #162bff;
  font-weight: bold;
  font-size: 2.5rem;
}

.title h1 {
  padding: 15px 0 0 0;
  font-family: Poppins, sans-serif;
  font-size: 2.3rem;
}

.line:before {
  display: inline-block;
  content: "";
  background-color: #f20c53;
  width: 40px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.line:before {
  transform: skew(35deg) translateX(-50%);
  -webkit-transform: skew(35deg) translateX(-50%);
  left: 50%;
}

.service {
  margin: 10% 0 0 0;
  min-height: 330px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 0px !important;

}

.service:nth-child(2n):before {
  background: #f6f7ff;
  position: absolute;
  right: auto;
  left: auto;
  top: 0;
  width: 92%;
  height: 100%;
  display: inline-block;
  content: "";
  z-index: 0;
  border-radius: 5px;

}

.service:nth-child(2n+1):before {
  background: #f6f7ff;
  position: absolute;
  right: auto;
  left: auto;
  top: 0;
  width: 92%;
  height: 100%;
  display: inline-block;
  content: "";
  z-index: 0;
  border-radius: 5px;
  margin-right: 3%;
}

.vertical-align {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 5%;
  height: 35%;
}

.vertical-aligen {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 35%;
  margin: auto 11%;
}

.service_title {
  margin-bottom: 2%;
  font-size: 1.5rem;
}

.stline-arrow-left:before {
  content: " f060";
}

i {
  display: inline-block;
}

//.fa-arrow-left {
//  text-shadow: -12px 8px 8px rgba(0, 0, 0, 0.28);
//}
//
//.fa-arrow-right {
//  text-shadow: 12px 8px 8px rgba(0, 0, 0, 0.28);
//}

.arrow-left {
  position: absolute;
  color: #f20c53;
  font-size: 20px;
  z-index: 1;
  bottom: 20px;
  left: 10%;

}

a {
  text-decoration: none !important;
}

.arrow-right {
  position: absolute;
  color: #162bff;
  font-size: 20px;
  z-index: 1;
  bottom: 20px;
  right: 10%;
}

.arrow-right .fa-arrow-right:before {
  display: none;

}

.arrow-right .fa-arrow-right:after {
  content: "\f061";

}

.icon {
  position: relative;
  z-index: 6;
  display: inline-block;
  text-align: center;
  color: #f6f7ff;
  padding: 14px 25px;
  margin-top: -3%;
  font-size: 2.5rem;
}

.icon {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.icon-odd {
  margin-right: 0;
  margin-left: auto;
}

.icon-odd:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 92%;
  height: 100%;
  display: inline-block;
  content: "";
  z-index: -1;
}

.icon-odd:before {
  background-color: #f20c53;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: -30px 18px 16px 0px rgba(0, 0, 0, 0.23);
}

.icon-even {
  margin-left: 0;
  margin-right: auto;
}

.icon-even:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 92%;
  height: 100%;
  display: inline-block;
  content: "";
  z-index: -1;
}

.icon-even:before {
  background-color: #162bff;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 30px 18px 16px 0px rgba(0, 0, 0, 0.23);
}

.linkblock {
  cursor: pointer;
}

.service:nth-child(2n+1):hover:before {
  background: #f20c53;
}

.service:nth-child(2n):hover:before {
  background: #162bff;
}

.service:hover .icon-odd:before, .service:hover .icon-even:before {
  background: #f6f7ff;
}

.service:nth-child(2n+1):hover .icon {
  color: #f20c53;
}

.service:nth-child(2n):hover .icon {
  color: #162bff;
}

.service:hover h2, .service:hover p, .service:hover .arrow-left, .service:hover .arrow-right {
  color: #f6f7ff;
}

.service:hover div .even {
  color: #f6f7ff;
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(50px);
}

.service:hover div .odd {
  color: #f6f7ff;
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(-50px);
}

.service:hover div .even, .service:hover div .odd {
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.service:hover h2, .service:hover .arrow-left, .service:hover .arrow-right, .service:hover p {
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.service:nth-child(2n+1) {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .service_title {
    margin-bottom: 5%;
    font-size: 2rem;
  }
  .icon {
    padding: 21px 30px;
    font-size: 3rem;
  }
  .service {
    min-height: 420px;
  }
  .service:nth-child(2n):before {
    transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
  }

  .service:nth-child(2n+1):before {
    transform: skewY(-10deg);
  }

  .icon-odd:before {
    transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
  }

  .icon-even:before {
    transform: skewY(10deg);
    -webkit-transform: skewY(10deg);
  }

  .icon {
    margin-top: -7%;
  }

  .restyling {
    width: 90% !important;
  }

  .service_title {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .service_title {
    font-size: 1.5rem;
  }

  .odd {
    font-size: 1.5rem;
  }

  .even {
    font-size: 1.5rem;
  }

  .title h1 {
    font-size: 2.5rem;
  }
  .vertical-align {
    height: 25%;
  }
  .vertical-aligen {
    height: 25%;
  }

}

@media only screen and (min-width: 1900px) {
  .restyling {
    width: 70% !important;
  }

  .title h1 {
    font-size: 3rem;
  }
}

/*конец услуг*/