//дарк тема
$first-color: rgb(96, 96, 96);
$second-color: rgb(131, 131, 131);
$first-color-dark: rgba($first-color, 0.23);
$second-color-dark: rgba($second-color, 0.23);
$thirst-color: #222222;//блоки с проектами
$four-color: #161616;//блоки с проектами
$five-color: rgb(8, 8, 8);//бэкграунд
$six-color: rgb(30, 30, 30);//блоки в шапке
$text-color: #ffffff;
$text-color-second: #ffffff;