//$first-color: rgb(196, 31, 26);
//$second-color: rgb(70, 194, 203);
//основная
//$first-color: rgb(207, 47, 90);
//$second-color: rgb(59, 93, 255);
//$first-color-dark: rgba($first-color, 0.23);
//$second-color-dark: rgba($second-color, 0.23);
//$thirst-color: #337ab7;//блоки с проектами
//$four-color: #bfe2ff;//блоки с проектами
//$five-color: rgb(255, 255, 255);//бэкграунд
//$six-color: rgb(235, 235, 235);//блоки в шапке
//дарк тема
$first-color: rgb(96, 96, 96);
$second-color: rgb(131, 131, 131);
$first-color-dark: rgba($first-color, 0.23);
$second-color-dark: rgba($second-color, 0.23);
$thirst-color: #222222;//блоки с проектами
$four-color: #161616;//блоки с проектами
$five-color: rgb(8, 8, 8);//бэкграунд
$six-color: rgb(30, 30, 30);//блоки в шапке
$text-color: #ffffff;
$text-color-second: #ffffff;