//$first-color: rgb(196, 31, 26);
//$second-color: rgb(70, 194, 203);
$first-color: rgb(207, 47, 90);
$second-color: rgb(59, 93, 255);
$thirst-color: #337ab7;
$four-color: #bfe2ff;
$five-color: rgb(255, 255, 255);
$first-color-dark: rgba($first-color, 0.23);
$second-color-dark: rgba($second-color, 0.23);